.eventTitle {

    text-align: center;
    color: rgb(109, 72, 84);
    font-family: 'News Cycle', sans-serif;
    font-size: 70px;
    letter-spacing: 4px;
    height: 30px;
    line-height: 1px;
    padding-top: 100px;
  
    font-weight: bold;
}

#ehw4i6ai7ww81 {
    margin: 10px 0px 0px 500px;
    
}
.eventContainer {
    //display: flex;
    border: 3px solid palevioletred;
    border-radius: 30px;
    margin: 80px 50px 50px 200px;
    padding: 20px;
    width: 1450px;
    background-color:rgba($color: #0875a0c0, $alpha: 0.7);
    
   
    
}

.postEventTitle {
    text-align: center;
    font-family:'roboto';
    font-weight: bold;
    font-size: 50px;
}

.eventContent {
    font-family: 'font-family: 'Sulphur Point', sans-serif;';
    font-style: italic;
    color: rgb(199, 170, 238);
    text-align: center;

}

.suscribeInput {
    background-color:rebeccapurple;
    margin: 5px 0px 0px 80px;
}

.form-event {
    background-color: skyblue;
    padding: 10px;
    border: thin solid  skyblue;
    border-radius: 10px;
    width: 300px;
    margin-left: 80px;
}

.form-event-input {
    width: 200px;
}

.nameForm {
    margin-left: 20px;
}

.emailForm {
    margin-left: 20px;
}

.addressForm {
    margin-left: 30px;
}
.confirm {
    text-align: center;
    color: rgb(228, 78, 40);
    font-family: 'roboto';
    font-size: 50px;
    border: thin solid rgb(40, 159, 228);
}
.dateEvent {
    font-family: 'roboto';
    font-size: 40px;
    font-weight: 900;
    padding:10px;
    border: thin solid white;
    width: 140px;
    color: white;
    float: left;
   

}

.EventContainer {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 40px;
}

.descriptionContainer {
    
    margin: 10px 0px 0px 20px;
    font-family: 'roboto';
    font-size: 20px;
}

.maxiEventContainer { 
    
    background-image: url('../assets/images/Micka_DomLHL_Pics_Media/PicsVendangesLHL/DSC03010.jpg');
    //background-color: lightsteelblue;
    background-size: cover;


}
.imageEvent {
    filter: drop-shadow(0 0 1rem crimson);
    

}
.nameInput {

    margin-left: 15px;
}

.emailInput {
    margin-left: 15px;
}

.addressInput {
    margin-left: 10px;
}

.headerEvent {
    h1 {
        text-align: center;
        color: white;
        font-family: Lobster, sans-serif;
        font-size: 14rem;
        margin: 0;
        position: relative;;
        top: 15rem;
        letter-spacing: 5px;
        width: 95%;
      }
nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  opacity : 0.90;
  top: 0;
  width: 100%;
  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    li {
      display: inline;
      font-family: $text-font-stack;
      font-size: 17px;
      a {
        color:whitesmoke;
        font-weight: bold;
        text-decoration: none;
        padding: 19px;

        }
      }
    }
  }
}