// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home {


 .html {
    overflow: hidden;
    font-size: 62.5%;
}
  .body {
    margin: 0;
    padding: 0;
  }
}

