// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    margin-top: 20px; 
  
}