// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    position: absolute;
    text-align: center;
    padding-top: 50px;
    width: 100%;
    height: 50px;

    .contact-informations {
        color: #ccc;
        background-attachment:fixed;
        background-color:#222;
        background-size: cover;
        background-position: bottom;
    }
    
    .h4 {
        color: black;
        font-weight:bold;
    }
    
    .recent-events {
     .li {
        display: block;
        margin-bottom: 25px;
    .label {
        float: left;
        border: 2px solid;
        padding: 1px 7px;
        text-align: center;
        }
    }
 }

    .menu__list__item {
        display: inline-block;
        margin-right: 10px;
    .a {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        text-align: center;
        display: block;
        line-height: 35px;
        background-color: #3a5a95;
        color: black;
    .a:hover {
        background-color: #0141a2;
    .a:hover i {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
}
}
}