// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  background: url('/images/Micka_DomLHL_Pics_Media/PicsPaysageViti/domaine.jpg');
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        h1 {
          text-align: center;
          color: #fff;
          font-family: Lobster, sans-serif;
          font-size: 8rem;
          margin: 0;
          position: relative;
          top: 12rem;
          letter-spacing: 5px;
          width: 100%;
        }
nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    opacity : 0.50;
    top: 0;
    width: 100%;
    ul {
      text-align: center;
      list-style-type: none;
      margin: 0;
      padding: 20px;
      li {
        display: inline;
        font-family: $text-font-stack;
        font-size: 17px;
        a {
          color: white;
          font-weight: bold;
          text-decoration: none;
          padding: 19px;

          }
        }
      }
    }
  }