// -----------------------------------------------------------------------------
// This file contains all styles related to the posts of the site/application.
// -----------------------------------------------------------------------------
.posts {
    img {
    max-width: 100%;
    height: auto;
    position: center 0 no-repeat fixed;
}
}