.name{
    margin-top: 20px;
}

.firstname{
    margin-top: 20px;
}

.email{
    margin-top: 20px;
}

.pass{
    margin-top: 20px;
}

.confirmpass{
    margin-top: 20px;
}

.errorcontent{
    color: black;
}

input[type=submit]{
    padding: 7px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: black;
    color: #FFF;
    margin-left: 20px;
     
    
}

input[type=submit].submitregister:hover{
    transition: 1.2s;
    color: black;
    background-color: #FFF;
}

.blockalert a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 2px 5px;
}

.blockalertlink:hover{
    color: #FFF;
    background-color: black;
    transition: 1.2s;
}

.blockalert p{
    color: black;
    
    
}

.blockalert{
    width:auto;
    border-radius: 10px;
    top: 10px;
    left: 390px;
    padding: 25px auto;
}

.wpcf7-form{
    text-align: center;
}